body {
  display: flex;
  background-color: rgb(173, 180, 187);
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.wrapper {
  max-height: calc(100vh - 20px); /* altura total menos a altura do footer */
  overflow-y: auto;
  background-color: rgb(236, 224, 207);
  width: 50%;
  box-shadow: 7px 7px 10px black;
  text-align: center;
  border-radius: 6px;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* se quiser no meio vertical também */
}

@media (max-width: 700px) {
  .wrapper {
    width: auto;
  }
}

.header-container {
  background-color: #00336a;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 0 5px 1px white;
  border-radius: 6px 6px 0 0;
}

.labelTitulo {
  font-size: 30px;
}

.divData {
  display: flex;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 700px) {
  .divData {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
    width: auto;
  }
}

.dataI,
.dataF {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-family: Franklin Gothic Medium ", " Arial Narrow, Arial, sans-serif;
}

input[type="date"] {
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  border: 2px solid #647383;
  border-radius: 8px;
  background-color: rgb(217, 219, 217);
  color: black;
  outline: none;
  transition: all 0.2s ease;
}

input[type="date"]:focus {
  border-color: black;
  box-shadow: 0 0 0 1px black;
}

#inputValor {
  font-size: 17px;
  background-color: rgb(217, 219, 217);
  cursor: pointer;
  padding: 10px;
  border: 2px solid #647383;
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.divRadio {
  display: none;
  font-size: 20px;
}

@media (max-width: 700px) {
  .divRadio {
    font-size: 15px;
  }
}

.divValor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  margin-top: 25px;

  /* Remove as setas em navegadores baseados em WebKit (Chrome, Safari, Edge) */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Remove as setas no Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@media (max-width: 700px) {
  .divValor {
    font-size: 15px;
  }
}

.divButton {
  padding-top: 15px;
}

.meu-botao {
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  background-color: #00336a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0 20px;
  transition: background-color 0.3s ease;
}

.meu-botao:active {
  background-color: #007bff;
  transform: scale(0.98);
}

#butLimpar {
  cursor: pointer;
  display: none;
  background-color: #17a2b8;
  border-radius: 8px;
  font-size: 15px;
  height: 23px;
}

#butLimpar:hover {
  background-color: rgb(185, 247, 247);
}

.divLimpar {
  display: none;
}

/* Se a classe for visível usar essa margin */
.divLimpar.show {
  display: block;
  margin: 10px 0 20px 0;
}
.divFieldset {
  margin: 15px 0 20px 0;
  justify-items: center;
}

.fieldset-personalizado {
  display: flex;
  border: 2px solid #647383;
  border-radius: 10px;
  gap: 30px;
  margin: 10px;
  background-color: rgb(219, 218, 217);
}

.fieldset-personalizado input {
  cursor: pointer;
}

.labelImput {
  cursor: pointer;
}

legend {
  font-size: 17px;
}

@media (max-width: 700px) {
  legend {
    font-size: 13px;
  }
}

#resultDias {
  color: rgb(2, 95, 22);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

#spanDias {
  color: red;
  font-weight: bold;
}

@media (max-width: 700px) {
  #resultDias {
    font-size: 18px;
  }
}

#resultPreco {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

@media (max-width: 700px) {
  #resultPreco {
    font-size: 20px;
  }
}

.divResult {
  display: none;
  border: 2px solid #4caf50;
  background-color: #f0f8ff;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}

.divCopiar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px 0 10px 0;
}

.btnCopiar {
  display: none;
  background-color: #f0f0f0;
  color: #333;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.1s;
}

.btnCopiar:hover {
  background-color: #e0e0e0;
}

.btnCopiar:active {
  transform: scale(0.98); /* Efeito de clique */
}

.help {
  display: none;
  float: right;
  cursor: pointer;
}
@media (max-width: 700px) {
  footer {
    display: none;
  }
}

.tooltip {
  display: none;
  position: absolute;
  top: 708px; /* sobe o tooltip */
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  max-width: 200px;
  font-size: 12px;
  z-index: 100;
  white-space: normal;
}

footer {
  position: fixed;
  left: 0;
  width: 100%;
  height: 20px;
  color: #555;
  background-color: #f8f8f8;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  bottom: 0px;
}

footer small {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 20px; /* igual à altura do footer */
  margin: 0;
}
